# Node
node_modules
.pnpm-store

# Build output
dist

# Tests
coverage

# Dotenv
.env*

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*

# IDE / OS junk
.vscode
.DS_Store

# Configurations
.prettierrc
eslint.config.*
commitlint.config.*

# Others
.github
.husky
README.md