DATABASE_URL=<postgresql_database_url>
JWT_ACCESS_SECRET_KEY=<jwt_secret_key_256>
JWT_ACCESS_EXPIRES_IN=<600000ms|600s|10m|2h|2d|2w|2y> (plain number treats as milliseconds)
JWT_REFRESH_SECRET_KEY=<jwt_secret_key_256>
JWT_REFRESH_EXPIRES_IN=<600000ms|600s|10m|2h|2d|2w|2y> (plain number treats as milliseconds)
REDIS_URL=<redis_url>