# Postgres
POSTGRES_USER=DB_USER
POSTGRES_PASSWORD=DB_PASSWORD
POSTGRES_DB=DB_NAME
# Database (postgresql)
DATABASE_URL=postgresql://DB_USER:DB_PASSWORD@HOST:PORT/DB_NAME
# eg: dev: DATABASE_URL=postgresql://DB_USER:DB_PASSWORD@dev-db:5432/DB_NAME
# eg: prod: DATABASE_URL=postgresql://DB_USER:DB_PASSWORD@prod-db:5432/DB_NAME
# Redis
REDIS_URL=redis://HOST:PORT
# eg: dev: REDIS_URL=redis://dev-redis:6379
# eg: prod: REDIS_URL=redis://prod-redis:6379
# JWT
# Time values accept: ms | s | m | h | d | w | y | (plain number = ms)
JWT_ACCESS_SECRET_KEY=CHANGE_ME
JWT_ACCESS_EXPIRES_IN=1h
JWT_REFRESH_SECRET_KEY=CHANGE_ME
JWT_REFRESH_EXPIRES_IN=2h
# Throttle - Rate limiting
THROTTLE_TTL=60000
THROTTLE_LIMIT=10
# Super admin data (optional)
SUPER_ADMIN_EMAIL=SUPERADMIN@EXAMPLE.COM
SUPER_ADMIN_PASSWORD=PASSWORD